/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono", monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --section-text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --button-text-color: #ff0070;
  --theme-menu-button-border: #ff0070;
  --theme-menu-button-hover: rgba(255 0 112 / 0.4);
  --decor-text-color: #000028;
  --card-title-color: #000028;
  --rec-visibility: flex;
}